html(lang="en")
	include header
	body
		include nav

		div(class="container")
			div(class="panel panel-default text-center")
				h2 Service Interactions
			div(class="panel panel-default")
				div(class="panel-body")
					table(class="table table-striped table-hover")
						tr
							th From
							th To
							th Duration (ms)
							th Request Data
							th Feedback
						for entry in entries
							tr
								td=entry.from_service
								td=entry.to_service
								td=entry.duration
								td
									pre=entry.data
								td
									pre=entry.feedback

