html(lang="en")
	include header
	script(src="http://jsplumbtoolkit.com/demo/js/jquery.jsPlumb-1.5.5-min.js")
	script(src="./js/scenario.js")
	link(rel="stylesheet", href="./css/scenario.css")
	body
		include nav
		div(id="scenario_id", style="visibility:hidden;")=scenario.id
		div(class="container")
			div(class="scenario-title")
				h4=scenario.name
					a(href=scenario.access_url, target="_blank")
						small=(' ' + scenario.access_url)
			div(id="main")
				div(id="scenario-container", class="scenario-container")
					for service in services
						div(class="w", id="service" + service.id)=service.name
							div(style="color:red")
								strong=service.trust_level 
							div(class="ep")
